/*
    ====================================

	Assignment: "Three Commits Project"
	Sarah Pasquale
		
	FileName: styles.css
	Last updated 10/21/2024
	
    ====================================
*/

html {
    background-color: #568283;
}

body {
    color: white;
}